body {
    margin: 40px;
}

/* Header */

.titleList {
    color: blueviolet;
}

/* Create Person */

.initialInputs, .btnAddPeople {
    margin: 20px;
}

.btnAddPeople {
    color: blueviolet;
    border-color: blueviolet;
}

.btnAddPeople:hover {
    color: blueviolet;
    border-color: blueviolet;
}

.cardPerson {
    background-color: red;
}

.MuiCard-root .carPerson {
    background-color: green;
}
